@mixin default-widths {
  width: calc($xxl-breakpoint * 1.5);
  max-width: calc(100vw - 2rem);

  @include medium-screen {
    max-width: calc(100vw - 6rem);
  }

  @include large-screen {
    max-width: calc(100vw - 12rem);
  }

  @include xl-screen {
    max-width: calc(100vw - 14rem);
  }

  @include xxl-screen {
    max-width: calc(100vw - 18rem);
  }

  @include xxxl-screen {
    max-width: 98rem;
  }
}
